/* -- Navabar Flex -- */
.nav-flex{
    width: 100vw;
    height: 60px;
    background: #282828;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.nav-button{
    margin-left: 12px;
    margin-right: 12px;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary);
}
/* Navbar Animations + More */
.nav-current{
    box-shadow: inset 0px -4px 0px 0px var(--text-primary);
}
.nav-flex a:hover{
    box-shadow: inset 0px -4px 0px 0px var(--text-primary);
}
.nav-flex a{
    transition: opacity 100ms 0ms var(--standard-easing), box-shadow 235ms 0ms var(--standard-easing);
}
div.nav-flex:hover .nav-current:not(:hover){
    box-shadow: inset 0 0 0 0 var(--text-primary);
}
div.nav-flex:hover a:not(:hover){
    opacity: 0.5;
}

.nav-button.flex-first-child img{
    width: auto;
    height: 36px;
}
.nav-flex a{
    text-decoration: none!important;
}
