:root{
    --accent-primary: #006fd6; 
    --accent-secondary: #34b4e9; 
    --text-primary: #fff;
    --text-secondary: #000;
    --standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
    --decelerated-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
    --accelerated-easing: cubic-bezier(0.4, 0.0, 1, 1);
    --shadow-hover: rgba(0, 0, 0, .25);
    --shadow-active: rgba(0, 0, 0, .15);
}
/* Font Import */
html{
    background: #1b1b1b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--text-primary);
}
.page-contents{
    position: absolute;
    top: 0;
    left: 0;
}

/* Buttons */
.button.accent-primary{
    border: 4px solid var(--accent-secondary);
    border-radius: 100px;
    transition: transform 100ms var(--standard-easing), background 150ms var(--standard-easing), color 150ms var(--standard-easing), box-shadow 150ms var(--standard-easing);
    transform: translate3d(0, 0px, 0);
    padding: 25px 40px;
    color: var(--accent-secondary);
    font-weight: bold;
    font-size: 18pt;
    user-select: none;
    text-decoration: none;
}
.button.accent-primary:hover{
    box-shadow: 0 5px 5px 0px var(--shadow-hover);
    background: var(--accent-secondary);
    color: var(--text-primary);
}
.button.accent-primary:hover:active{
    transform: translate3d(0, 2px, 0);
    box-shadow: 0 2px 2px 0 var(--shadow-hover);
}