:root{
    --accent-1: #34b4e9;
    --accent-2: #0b7fd5;
    --gradient-start: #c6239e;
    --gradient-end: #537cd3;
}
.flex-container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.text h1{
    text-align: center;
    font-size: 32pt;
    /*background: -webkit-linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    color: #fff;
}
/* Button Styling */
.material-button{
    background: rgb(13, 193, 238);
    padding: 15px 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0,.88,.37,.99), background 250ms cubic-bezier(0,.88,.37,.99);
}
.material-button:hover{
    transform: translate3d(0, -1px, 0);
}
.material-button:hover:active{
    transform: translate3d(0, 1px, 0);
        background: rgb(0, 180, 225);
}
.button-container a{
    text-decoration: none;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}