
.card-main:not(.card-containter-last){
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.card-img{
    border-radius: 50%;
}
.flex-root{
    margin-left: .35rem
    
}
.footer{
    padding-bottom: 25px;
    margin-top: 15px;
}
.card-main{
    width: 388px;
    height: 226px;
    background-color: #3a3a3a;
    border-radius: 5px;
}
.card-inner{
    height: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
}
.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 194px;
    height: 144px; 
}
.card-text h1{
    font-size: 18pt;
}
.card-text h3{
    font-size: 12pt;
}
.card-text h1,
.card-text h3{
    margin: 1px;
    word-wrap: none;
    white-space: nowrap;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.card-member-portrait{
    width: 144px;
    border-radius: 50%;
    /*
    position: relative;
    left: 24px;
    top: 17px;*/
}
.card-social{
    height: 48px;
    position: relative;
    width: 388px;
    background-color: #444444;
    display: flex;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.social-first-child{
    margin-left: 8px;
    color: #fff;
}
.social-branding{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
}
.social-branding-image{
    width: 32px;
    height: 32px;
}